.basket {
  background-color: rgb(238, 238, 238);
  overflow-y: auto;
  min-width: 22vw;
  max-height: calc(100vh);
  grid-area: basket;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.4);

  &__header {
    margin: 20px 0 30px;
    color: black;
    font-size: 22px;
    padding: 5px;
    text-align: center;
    font-weight: 150;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }
  &__orders {
    max-width: 22vw;
    flex: 3 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    .drinkname {
      max-width: 150px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      &__count {
        font-size: 16px;
        text-align: center;
      }
      &__remove {
        padding: 7px 9px 7px 9px;
        background-color: rgb(180, 43, 43);
        color: white;
        font-size: 14px;
        font-weight: 300;
        border: none;
        text-align: center;
        margin: 2px;
        transition: 0.2s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__price {
    padding: 12px 0 12px;
    color: rgb(48, 48, 48);
    font-size: 18px;
    text-align: center;
    font-weight: 100;
  }

  &__confirm {
    padding: 12px;
    background-color: black;
    color: lightgrey;
    font-size: 18px;
    font-weight: 100;
    border: none;
    transition: all 0.2s;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 768px) {
  .basket {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    &__header {
      display: none;
    }
    .divider {
      display: none;
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: stretch;
      align-items: stretch;
      border-top: 0.5px solid rgba(0, 0, 0, 0.5);
      * {
        flex: 1 1 auto;
      }
    }
    &__orders {
      padding: 0;
      width: 100vw !important;
      max-height: 200px;
      max-width: none;
      justify-content: center;
      align-content: center;
      align-items: center;
      .drinkname {
        margin: 5px;
        background-color: rgb(180, 43, 43);
        color: white;
        padding: 0;
        max-width: none !important;
        width: 150px;
        max-height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        &__count {
          background-color: rgba(255, 255, 255, 0.5);
          flex: 3 3 auto;
        }
        &__remove {
          padding: 0 5px;
        }
      }
    }
  }
}
