.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  grid-area: main;
  font-family: Arial;
  .drink {
    padding: 10px 0px 0px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    width: 200px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    &__img {
      margin: 0 25px;
      height: 150px;
      width: 150px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &__name {
      font-size: 18px;
      text-align: center;
      padding: 10px 0px 5px;
    }
    &__price {
      color: grey;
      font-size: 14px;
      text-align: center;
      padding: 10px 0px 5px;
    }
    &__order {
      padding: 9px 0px 9px 0;
      background-color: black;
      color: lightgrey;
      font-size: 18px;
      font-weight: 100;
      transition: 0.3s;
      border: none;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    position: relative;
    display: block;
    padding: 0;
    width: 100vw;
    .slick-list {
      height: calc(100vh - 400px) !important;
      .slick-slide {
        transition: 0.2s;
        transform: scale(0.9);
        opacity: 0.6;
        & > div {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: stretch;
          align-items: center;
        }
        &.slick-current {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}
