.name {
  background-color: rgba(177, 0, 0, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  grid-area: name;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &__restaurant {
    color: white;
    font-size: 30px;
    font-weight: 500;
  }
  &__autendant {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .name {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    &__restaurant {
      margin: 5px;
    }
    &__autendant {
      margin: 10px;
    }
  }
}
