.order {
  padding: 10px;
  height: 85vh;
  width: auto;
  &__heading {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
  }
  &__drinks {
    margin: 10px 0 15px;
    font-family: "Courier New";
    font-size: 11px;
    padding-bottom: 5px;
    border-bottom: 0.1px solid #000;
    .drinkname {
      margin: 3px;
    }
  }
  &__form {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 768px) {
  .order {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
    &__upper {
      height: 60%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: stretch;
      align-items: flex-start;
    }
    &__drinks {
      margin: 10px 0 15px;
    }
    &__cost {
      text-align: right;
    }
    a {
      margin-left: -10px;
    }
    &__form {
      button {
        position: fixed;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        background-color: #888;
        border: none;
        width: 100vw;
        color: #fff;
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}
