* {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "name name name"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket"
    "main main basket";
  min-height: 100vh;
}

.success {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  color: #fff;
  width: 100vw;
  height: calc(50vw - 50px);
  font-size: 30px;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .App {
    display: block;
    min-height: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    overflow: hidden;
  }
  .success {
    grid-area: main;
    height: calc(100vh - 95px);
  }
}

@import "main", "name", "basket", "order";
