* {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "name name name" "main main basket" "main main basket" "main main basket" "main main basket" "main main basket" "main main basket" "main main basket" "main main basket" "main main basket";
  min-height: 100vh;
}

.success {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100vw;
  height: calc(50vw - 50px);
  font-size: 30px;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .App {
    display: block;
    min-height: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .success {
    -ms-grid-row: 2;
    -ms-grid-row-span: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    height: calc(100vh - 95px);
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 20px 30px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  font-family: Arial;
}

.main .drink {
  padding: 10px 0px 0px;
  background-color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 200px;
  margin: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .drink:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.main .drink__img {
  margin: 0 25px;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main .drink__name {
  font-size: 18px;
  text-align: center;
  padding: 10px 0px 5px;
}

.main .drink__price {
  color: grey;
  font-size: 14px;
  text-align: center;
  padding: 10px 0px 5px;
}

.main .drink__order {
  padding: 9px 0px 9px 0;
  background-color: black;
  color: lightgrey;
  font-size: 18px;
  font-weight: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.main .drink__order:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .main {
    position: relative;
    display: block;
    padding: 0;
    width: 100vw;
  }
  .main .slick-list {
    height: calc(100vh - 400px) !important;
  }
  .main .slick-list .slick-slide {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.6;
  }
  .main .slick-list .slick-slide > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .slick-list .slick-slide.slick-current {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.name {
  background-color: #b10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: name;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.name__restaurant {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.name__autendant {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .name {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  .name__restaurant {
    margin: 5px;
  }
  .name__autendant {
    margin: 10px;
  }
}

.basket {
  background-color: #eeeeee;
  overflow-y: auto;
  min-width: 22vw;
  max-height: calc(100vh);
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  -ms-grid-column: 3;
  grid-area: basket;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.4);
}

.basket__header {
  margin: 20px 0 30px;
  color: black;
  font-size: 22px;
  padding: 5px;
  text-align: center;
  font-weight: 150;
}

.basket__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.basket__orders {
  max-width: 22vw;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.basket__orders .drinkname {
  max-width: 150px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__orders .drinkname__count {
  font-size: 16px;
  text-align: center;
}

.basket__orders .drinkname__remove {
  padding: 7px 9px 7px 9px;
  background-color: #b42b2b;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border: none;
  text-align: center;
  margin: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.basket__orders .drinkname__remove:hover {
  opacity: 0.7;
}

.basket__price {
  padding: 12px 0 12px;
  color: #303030;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
}

.basket__confirm {
  padding: 12px;
  background-color: black;
  color: lightgrey;
  font-size: 18px;
  font-weight: 100;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.basket__confirm:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .basket {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .basket__header {
    display: none;
  }
  .basket .divider {
    display: none;
  }
  .basket__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  }
  .basket__bottom * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .basket__orders {
    padding: 0;
    width: 100vw !important;
    max-height: 200px;
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basket__orders .drinkname {
    margin: 5px;
    background-color: #b42b2b;
    color: white;
    padding: 0;
    max-width: none !important;
    width: 150px;
    max-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basket__orders .drinkname__count {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-flex: 3;
        -ms-flex: 3 3 auto;
            flex: 3 3 auto;
  }
  .basket__orders .drinkname__remove {
    padding: 0 5px;
  }
}

.order {
  padding: 10px;
  height: 85vh;
  width: auto;
}

.order__heading {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.order__drinks {
  margin: 10px 0 15px;
  font-family: "Courier New";
  font-size: 11px;
  padding-bottom: 5px;
  border-bottom: 0.1px solid #000;
}

.order__drinks .drinkname {
  margin: 3px;
}

.order__form {
  margin: 5px 0;
}

@media only screen and (max-width: 768px) {
  .order {
    height: calc(100vh - 300px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .order__upper {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .order__drinks {
    margin: 10px 0 15px;
  }
  .order__cost {
    text-align: right;
  }
  .order a {
    margin-left: -10px;
  }
  .order__form button {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #888;
    border: none;
    width: 100vw;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */